/Android Development Tutorial For Beginners In Hindi (With Notes) .mp4
/ATM mini_project.txt
/College Projects with Report & Source Code.docx
/CSS Tutorial In Hindi (With Notes) 🔥.mp4
/Data Structures and Algorithms Full Course Tutorial DSA Tutoria.mp4
/DBMS Notes for College Placements _ Data Base Management System _@Apna College.mp4
/Django Tutorial In Hindi.mp4
/flappy bird game in python
/Full Database Course in Hindi for Free _ Learn Database Management System in Hindi _ LearnVern.mp4
/Git .mp4
/HTML Tutorial For Beginners In Hindi (With Notes) 🔥.mp4
/Java Full Course for Beginners (Hindi) Learn Coding-VZg5r9i90z0.mp4
/Java Tutorial for Beginners Full Course.mp4
/Java tutorial in hindi 🔥.mp4
/JavaScript Tutorial In Hindi.mp4
/Pattern
/Project-1.cpp
/Project-1.exe
/Python Tutorial For Beginners In Hindi (With Notes) 🔥.mp4
/Top 50 DBMS Interview Questions and Answers _ DBMS Interview Preparation _ Edureka.mp4
/VS Code Tutorial Python Setup _ Python Tutorials For Absolute Beginners In .mp4